HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
**.pcm
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
/data
**/data/
**/logs
**/logs/**
### IntelliJ IDEA ###
.idea
.idea/**
*.log
**.log
*.iws
**/.mvn
*.iml
*.ipr
logs/**
../logs/
/logs
**/logs/**
target
*/target/**
**/target/**

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
